#profile-img {
    float: left;
    margin-right: 20px;
    width: 300px;

}
.about-me {
    margin-top: 100px;
    background-color: aquamarine
}

footer {
    text-align: center;
    padding: 20px;
    width: 100%;
    background-color: aquamarine


    }
.port-img {
    margin-bottom: 40px;
    width: 200px;
    height: 200px;
}
.portfolio-section {
    background-color: aquamarine;
    width: 650px;
}

.name-color {
   background-color: blueviolet
}